.FileItem {
	list-style-type: none;
	display: flex;
  flex: 1;
	flex-direction: row;
	justify-content: flex-start;
}
.ListFileItems{
	display: flex;
  flex: 1;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start
}
.ImageViewer {
	height: 100%;
	width: 100%;
}
.PropertiesPannel {
	display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
}

